/* css reset */
* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;

}

/* generic */
body {
    font-family: 'Open Sans', sans-serif;
}


/* utilitis */

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.conteiner-smoll {
    max-width: 800px;
    margin: 0 auto;

}

ul {
    list-style: none;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #b3b3b3;
}

p {
    font-size: 13px;
    color: #9a9a9a;
    margin: 15px 0 30px 0;
}

h1 {
    font-size: 50px;
    font-weight: 900;
    padding: 50px 0 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 50px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    margin-top: 20px;
}

h5 {
    font-size: 18px;
    font-weight: 500;
}

h6 {
    font-size: 12px;

}


/* size */



.mb-30 {
    margin-bottom: 30px;
}

.mt-10 {
    margin-top: 10px;
}
.mt-30 {
    margin-top: 30px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-50 {
    margin-left: 50px;
}

.pad-10-20 {
    padding: 10px 20px;
    line-height: 24px;
}

.ft-size10 {
    margin-left: 5px;
    font-size: 10px;
}


img {
    max-width: 100%;
    display: block;
}

.relative {
    position: relative;
    top: 30px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* header */
#main-header {
    height: 70px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
}


.nav-left ul li {
    margin: 0 10px;
}
.nav-right ul li {
    margin: 0 10px;
}


/* bottom */



.btn-xs {
    background-color: #0061ff;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}

.btn-primary {
    background-color: #0061ff;
    color: white;
    padding: 10px 15px;
    display: inline-block;

}

.btn-secondary {
    border: 1px solid #9a9a9a;
    color: #9a9a9a;
    padding: 5px 10px;
    display: inline-block;

}




/* jumbotron */
#jumbotron {
    height: 550px;
    background-color: #b4d0e7;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: space-between;
}

.col-30 {
    flex-basis: 30%;
    border: 1px;
}

.col-70 {
    flex-basis: 70%;
    border: 1px;
}




/* section busines */

#busines {
    margin-top: 150px;
}

.circle {
    width: 10px;
    height: 10px;
    border: 2px solid #0061ff;
    border-radius: 50%;
    margin-right: 5px;
}




.col-left {
    flex-basis: calc(100% / 3 - 30px /3);
    border: 1px solid #8b8b8b;
    margin-bottom: 15px;
}

.col-central {
    flex-basis: calc(100% / 3 - 30px /3);
    border: 1px solid #8b8b8b;
    margin-bottom: 15px;
}

.col-right {
    flex-basis: calc(100% / 3 - 30px /3);
    border: 1px solid #8b8b8b;
    margin-bottom: 15px;
}

.col-big {
    flex-basis: 100%;
    border: 1px solid #8b8b8b;

    min-height: 200px;
}


.border-bottom {
    border-bottom: 1px solid #8b8b8b;
    padding: 10px 0;
}

.border-bottom-xs {
    width: 40px;
    border-bottom: 1px solid #8b8b8b;
    margin-top: 10px;
    margin-bottom: 10px;
}

.icon-list{
    flex-direction: column;
    padding-top: 15px;
}

.icon-list li {
    display: flex;
    gap: 10px;
    margin: 5px 0;
    align-items: baseline;
}

.font-size {
    font-size: 12px;
}

.text-decoretion {
    text-decoration: underline;
    color: #0061ff;
}



/* ads */

#ads {
    margin-top: 50px;
}

.col-lt {
    flex-basis: 60%;
    min-height: 100px;

}

.col-rt {
    flex-basis: 40%;
    min-height: 100px;
    padding: 50px 30px;
}